@import "tailwindcss";

/*COLORS*/
:root {
  --background: #FAFAFA;
  --background-alt: #d7d7d7;
  --foreground: #0a0a0a;
  --foreground-alt: #2c2c2c;

  --foreground-background-merge: #d9d9d9;

  --red: #900b09;
  --red-light: #E08686;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-alt: #2c2c2c;
    --foreground: #FAFAFA;
    --foreground-alt: #d7d7d7;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --color-merge: var(--foreground-background-merge);
  --color-red: var(--red);
  --color-red-light: var(--red-light);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/*CUSTOM TAILWIND CLASSES*/
/*example
.btn-primary {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
}
*/
